.form {
}

.button {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  outline: 1px solid black;
  cursor: pointer;
  padding: 7px;
  color: black;
  background-color: white;
  transition: color 250ms linear, background-color 250ms linear,
    outline 250ms linear;
}

.button:focus,
.button:hover {
  outline: 1px solid transparent;
  color: white;
  background-color: red;
  transition: color 250ms linear, background-color 250ms linear,
    outline 250ms linear;
}

.input {
  min-width: 400px;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 5px;
  border: none;
  outline: 1px solid black;
}

.input:focus,
.input:hover {
  outline: 1px solid red;
}
