.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 15px;
}

.item {
  color: red;
}

.link {
  text-decoration: none;
  color: black;
}

.link:visited {
  color: rgb(182, 35, 35);
}

.text {
  font-size: 20px;
  margin: 0;
}
